:root {
  background-color: #ffd2ba;
}

h1,h2,h3 {
  color: #3154ad !important;
}

h1 {
  font-size: 120px;
  padding-bottom: 50px;
}

#imageOne {
  height: 40em;
  width: 40em;
}

#title {
  margin-top: 1em;
  font-size: 5em !important;
}

.accordion .label {
  position: relative;
  padding: 10px 20px;
  font-size: 1.1em;
  color: black;
  cursor: pointer; }

  .accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: 1em;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .contents {
    position: relative;
    height: 0;
    font-size: 1em;
    /* text-align: center; */
    width: auto;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion hr {
    width: 100;
    margin: 0 1em;
    border: 1px solid grey;}

.accordion .containers.active .contents {
  height: auto;
}

.accordion .containers.active .label::before {
  content: '-';
  font-size: 30px;
}
