
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 480px) {
  #bigboy { width:67%; }
}

html {
  background-color: #ffd2ba;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: #3154ad;
  font-size: 120px;
  margin-top: 10px;
}

h2 {
  color: #3154ad;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  color: #3154ad;
  font-size: 30px;
  margin-top: 10px;
}

#bigboy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image {
  padding-bottom: 30px;
}

img {
  height: 600px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#words {
  text-align: center;
}

.center {
  text-align: center;
}

.accordion {
  width: 800px;
  margin-top: 60px;
}



.accordion .container {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer; }

  .accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .content {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;}

.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}