@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

:root {
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#homeBtn {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
  background: rgba(255,255,255, .2);
}
#homeBtn:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

.display {
  background: #222;
  color: white;
  height: 300px;
  width: 70vw;
  margin: 40px auto;
  padding: 0 10px;
}
.display h1 { text-align: center;}


.btn-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f5f2;
}

.customs {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
}

.customs > span > div {
  margin: 10px auto;
  height: 50px;
  width: 100px;
  justify-self: center;
  align-self: center;
  border: 1px solid #222;
}

.customs > label { align-self: center;}

.custom {
  font-size: 18px;
  padding: 5px;
}

.select-container {
  height: auto;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}
.select-column {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.select-column > * { margin-top: 20px;}

.checks {
  margin-left: 55px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
}
.checks > span { display: inline;}
.checks > * {
  margin-top: 10px;
}

/* #input { width: 100px;} */


/* Option Classe */
/*! Size */
.small { font-size: 10px; padding: 3px 5px;}
.medium { font-size: 16px; padding: 7px 10px;}
.large { font-size: 24px; padding: 10px 15px;}
/*! BG Color*/
.white { background: white;}
.black { background: #222;}
.red { background: red;}
.green { background: green;}
.blue { background: blue;}
.transparent { background: transparent;}
/*! Txt Color*/
.tWhite { color: white;}
.tBlack { color: #222;}
.tRed { color: red;}
.tGreen { color: green;}
.tBlue { color: blue;}
/*! Decor */
.bold { font-weight: bold;}
.noOutline { border: none;}
.round { border-radius: 40px;}
/*! Border Color */
.bBlack { border: 2px solid #222;}
.bLight { border: 2px solid rgba(34, 34, 34, .5);}
/*! Shadow */
.shadow { box-shadow: 1px 1px 5px #222;}
/*! Hover */
.hpoint:hover { cursor: pointer;}
.hshadow:hover { box-shadow: 1px 1px 5px #222}
.hshadowPoint:hover { cursor: pointer; box-shadow: 1px 1px 5px #222;}
.hup:hover { transform: translateY(-1px);}
.hupShadow:hover { transform: translateY(-1px); box-shadow: 1px 1px 5px #222;}
.hupPoint:hover { transform: translateY(-1px); cursor: pointer;}
.hupShadowPoint:hover { transform: translateY(-1px); cursor: pointer; box-shadow: 1px 1px 5px #222;}
