:root {
  background: #e5ffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  padding: 0 40px;
}

.numbers {
  display:flex;
  justify-content: space-around;
}

.numberlist { 
  display: flex;
  justify-content: center;
  background: #d1f1ff;
  border: 4px solid #236b8e;
  width: 50%;
  margin-left: 25%;
}

.number {
  padding: 0 50px;
  font-size: 50px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  text-align:center;
  margin-top: 15px;
}
.row {
  display: flex;
  justify-content: space-between;
  text-align:center;
  margin: 30px 0;
}

.student {
  background-color: #9de1ff;
  border: 4px solid #236b8e;
  border-radius: 20px;
  width: 200px;
  height: 150px;
}

.answer {
  width: 100px;
  border-radius: 10px;
  height: 20px;
}

.answer:focus {
  outline: none;
}

.row3 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.row4 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}

.scheck {
  margin: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #236b8e;
}

.scheck:hover {
  cursor: pointer;
}


#reveal {
  padding: 20px;
  font-size: 36px;
  border: 4px solid #236b8e;
  background: #7fb5cc;
}
/* Utilities */

.correct {
  background-color: #00c957;
  border: 4px solid #009942;
  height: 100px;
}

.wrong {
  background-color: red;
}

.hidden {
  display: none;
}