* {
    margin: 0;
    padding: 0;
    background-color: #ffffcc;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#homeBtn {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    background: rgba(255,255,255, .2);
  }
  #homeBtn:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }

.container {
    display: flex;
    flex-direction: row;
}


#title {
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
}

.picker-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width:200px;
    height: 30px;
    padding: 10px;    
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 5px;
    background-color: rgb(255, 254, 254);
}

input:focus {
    outline: none;
}

#nameDisplay {
    height: 300px;
    width: 80vw;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #222;
}

#submit {
    padding: 5px 10px;
}

.btn {
    padding: 10px;
    font-size: 18px;
}

.btn:hover{
    cursor: pointer;
    transform: translateY(-1px);
    background-color: #e0e0b2;
}

.btn:focus {
    outline: none;
}

#clear {
    margin-top: 20px;
    width: 124px;
    background-color: #e0e0b2;

}

#kids {
    margin: 30px 0;
    text-decoration: underline;
}

#kidsList li {
    line-height: 30px;
    font-size: 20px;
}

.picked {
    text-decoration: line-through;
    font-weight: bolder;
}

.hidden {
    display: none;
}
